<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <h1>Hello</h1>

  <div id="app" v-cloak>
    Witaj {{ message }}!

    <button v-on:click="changeMessage"></button>

    <message-box v-bind:message="message + 1"></message-box>
    <message-box v-bind:message="message + 2"></message-box>
    <message-box v-bind:message="message + 3"></message-box>
  </div>


  <script src="https://unpkg.com/vue"></script>
  <script>

    var MessageBox = Vue.extend({
      template: `<div> {{message}} </div>`,
      // render: h => h(jsx)
      props:['message']
      // data: () => ({
      //   message: " Vue",
      // })
    })

    var app = new Vue({
      // el: "#app",
      components: {
        'message-box': MessageBox
      },
      data: {
        message: " Vue",
        cos: {
          jeszcze: "placki"
        },
      },
      methods: {
        changeMessage(event) {
          console.log(event)

          this.$set(this.cos, 'cosjecze', 123)

          this.message = " Reactive "
        }
      }
    });

    app.$mount('#app')
  </script>

  <script>
    var obj = {
      _secret: '',
      set value(v) { this._secret = v.split('').reverse().join('') },
      get value() { return this._secret.split('').reverse().join('') },
    }
  </script>
</body>

</html>