<template>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
      <div class="container">
        <router-link class="navbar-brand" to="/">MusicApp</router-link>
        <button @click="expanded = !expanded" class="navbar-toggler" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" :class="{show:expanded}">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <router-link class="nav-link" active-class="placki active" :to="{name:'Home'}">Home</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/playlists">Playlists</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/search">Search</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/about">About</router-link>
            </li>
          </ul>
          <div class="navbar-text">
            <user-profile>
              <template #default="{login,logout,user}">
                <span v-if="user">
                  {{ user.display_name}},
                  <a @click="logout">Logout</a>
                </span>
                <span v-else>
                  <a @click="login">Login</a>
                </span>
              </template>
            </user-profile>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col">
          <router-view />
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
// @import '~bootstrap/dist/css/bootstrap.css';
</style>

<script lang="ts">
import "bootstrap/dist/css/bootstrap.css";
import {
  Component,
  Vue,
  Provide,
  Inject,
  ProvideReactive,
  Watch
} from "vue-property-decorator";
import { auth } from "./services";
import { Auth } from "./services/Auth.service";
import { UserProfile } from "./model/UserProfile";
import { userToken } from "./tokens";
import { MusicService } from "./services/MusicService";
import { PlaylistsService } from './services/PlaylistsService';


@Component({})
export default class App extends Vue {
  expanded = false;

  @Provide()
  auth: Auth = auth;

  @Provide("MusicService")
  musicService = new MusicService();

  @Provide("PlaylistsService")
  playlistsService = new PlaylistsService();

  @ProvideReactive(userToken)
  user: UserProfile | null = null;

  @Watch("auth.token", { immediate: true })
  tokenChange(token: string | null) {
    if (token && !this.user) {
      this.$http.get("me").then(resp => {
        this.user = resp.data;
      });
    }
    if (!token) {
      this.user = null;
    }
  }

  created() {}
}
</script>
