<template>
  <div class="card">
       
    <slot name="media"></slot>

    <div class="card-body">
       <slot></slot>
    </div>

    <div class="card-footer" v-if="$slots.footer">
      <slot name="footer">Default content</slot>
    </div>

    <!-- <slot :name="slotName"></slot> -->

  </div>
</template>


<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { Album } from "../model/Search";

@Component({})
export default class Card extends Vue {

  // mounted(){
  //   this.$slots;
  //   this.$scopedSlots;
  //   debugger
  // }
  
}
</script>