<template>
  <div>
    <!-- .list-group>.list-group-item{Text}*3 -->
    <div class="list-group" v-if="playlists && playlists.length">
      <router-link
        :to="{name:'PlaylistDetails',params:{id:playlist.id}}"
        v-for="(playlist,index) of playlists"
        :key="playlist.id"
        class="list-group-item"
        :class="{ 'active' :  selectedId == playlist.id }"
      >
        {{index+1}}. {{ playlist.name }}
        <span
          class="close"
          @click.stop="remove(playlist.id)"
        >&times;</span>
      </router-link>
    </div>
    <p class="alert alert-info" v-else>No Playlists</p>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, PropSync } from "vue-property-decorator";
import { Playlist } from "../../model/Playlist";

@Component({})
export default class PlaylistList extends Vue {
  @Prop({ required: true })
  playlists!: Playlist[];

  @PropSync("selected")
  selectedId!: Playlist["id"];

  // @Prop()
  // selected!: Playlist["id"];

  // select(playlist: Playlist) {
  //   this.$emit("update:selected", playlist.id);
  // }
}
</script>