<template>
  <div>
    <!-- <pre>{{ playlist }}</pre>
    <pre>{{ draft }}</pre> -->

    <div class="form-group">
      <label>Name:</label>
      <input type="text" class="form-control" v-model.trim="draft.name" ref="nameRef"/>
      {{ 170 - draft.name.length }} / 170
    </div>

    <div class="form-group">
      <label>
        <input type="checkbox" v-model="draft.public"  /> Public
      </label>
    </div>

    <div class="form-group">
      <label>Description:</label>
      <textarea class="form-control" v-model="draft.description"></textarea>
    </div>

    <button class="btn btn-danger" @click="$emit('cancel')">Cancel</button>
    <button class="btn btn-success" @click="save()">Save</button>
    {{test.a}}
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch, Ref } from "vue-property-decorator";
import { Playlist } from "../../model/Playlist";

@Component({})
export default class PlaylistForm extends Vue {
  @Prop()
  playlist!: Playlist;
  test = { a: 1 };

  @Ref() readonly nameRef!:HTMLElement

  // https://vuejs.org/v2/guide/instance.html#Lifecycle-Diagram

  beforeCreate() {
    // console.log("beforeCreate", this.test);
  }
  created() {
    // console.log("created", this.test);
  }
  beforeMount() {
    // console.log("beforeMount", this.test);
  }
  mounted() {
    // console.log(this.$refs['nameRef'])
    // if (this.$refs["nameRef"] instanceof HTMLElement) {
    //   this.$refs["nameRef"].focus();
    // }
    this.nameRef.focus()
    // console.log("mounted", this.$el);
  }
  beforeUpdate() {
    // console.log("beforeUpdate", this.$el);
  }
  updated() {
    // console.log("updated", this.test);
  }
  beforeDestroy() {
    // console.log("beforeDestroy", this.test);
  }
  destroyed() {
    // console.log("destroyed", this.test);
  }

  @Watch("playlist", { immediate: true })
  changePlaylist() {
    this.draft = { ...this.playlist };
  }

  draft: Playlist | null = null;

  save() {
    this.$emit("save", this.draft);
  }
}
</script>