<template>
  <div>
    Details
    <dl :title="playlist.name">
      <dt>Name:</dt>
      <dd>{{ playlist.name }}</dd>

      <dt>Public:</dt>
      <dd
        :class="{ 
          'public': playlist.public,
          'private': !playlist.public
        }"
      >{{ playlist.public | yesno('Yeah') | titlecase }}</dd>

      <dt>Description:</dt>
      <dd>{{ playlist.description }}</dd>
    </dl>
    
    <button class="btn btn-info" @click="editClicked()">Edit</button>
  </div>
</template>

<style scoped>
.public,
.private {
  border-bottom: 1px solid;
}
.public {
  color: green;
}
.private {
  color: red;
}
</style>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { Playlist } from "../../model/Playlist";

@Component({})
export default class PlaylistDetails extends Vue {
  
  
  @Prop({})
  playlist!: Playlist;

  editClicked(){
    this.$emit('edit')
  }
}
</script>