<template>
  <Card>
    <template #media>
      <img :src="album.images[0].url" class="card-img-top" />
    </template>

    <!-- <template v-slot:footer>footer</template> -->

    <h5 class="card-title">{{album.name}}</h5>
  </Card>
</template>


<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { Album } from "../../model/Search";
import Card from "../Card.vue";

@Component({
  components: {
    Card
  }
})
export default class AlbumCard extends Vue {
  @Prop({ required: true })
  album!: Album;
}
</script>