<template>
  <div>
    <PlaylistForm :playlist="draft" @save="save" />
  </div>
</template>

<script lang="ts">
import {
  Component,
  Vue,
  Inject,
  ProvideReactive,
  InjectReactive
} from "vue-property-decorator";
import PlaylistForm from "../components/playlists/PlaylistForm.vue";
import { Playlist } from "../model/Playlist";
import { PlaylistsService } from "../services/PlaylistsService";
import { userToken } from "../tokens";
import { UserProfile } from "../model/UserProfile";

@Component({
  components: {
    PlaylistForm
  }
})
export default class CreatePlaylist extends Vue {
  draft = {
    name: "",
    public: false,
    description: ""
  };

  @Inject("PlaylistsService")
  playlistsService!: PlaylistsService;

  @InjectReactive(userToken)
  user!: UserProfile | null;

  save(draft: Playlist) {
    if (!this.user) {
      return;
    }
    this.playlistsService
      .createPlaylist(this.user.id, draft)
      .subscribe(resp => {
        this.playlistsService.loadMyPlaylists();
        this.$router.replace({
          name: "PlaylistDetails",
          params: { id: resp.data.id }
        });
      });
  }
}
</script>