<template>
  <div v-if="playlist">
    <PlaylistForm :playlist="playlist" @save="save" />
  </div>

  <div v-else>Loading ...</div>
</template>

<script lang="ts">
import {
  Component,
  Vue,
  Inject,
  ProvideReactive,
  InjectReactive
} from "vue-property-decorator";
import PlaylistForm from "../components/playlists/PlaylistForm.vue";
import { Playlist } from "../model/Playlist";
import { PlaylistsService } from "../services/PlaylistsService";
import { userToken } from "../tokens";
import { UserProfile } from "../model/UserProfile";
import PlaylistDetailsContainer from "./PlaylistDetailsContainer.vue";
import { tap, map, switchMap, distinctUntilChanged } from "rxjs/operators";

@Component({
  components: {
    PlaylistForm
  },
  subscriptions(this: EditPlaylistContainer) {
    return {
      playlist: this.$watchAsObservable("$route.params", {
        immediate: true
      }).pipe(
        tap(console.log),
        map(({ newValue: { id } }) => id),
        distinctUntilChanged(),
        switchMap(id => this.playlistsService.getPlaylistById(id)),
        map(resp => resp.data)
      )
    };
  }
})
export default class EditPlaylistContainer extends Vue {
  @Inject("PlaylistsService")
  playlistsService!: PlaylistsService;

  // get playlist(){ return this.$store.getters.selectedPlaylist }

  save(draft: Playlist) {
    // this.$store.dispatch('SAVE_PLAYLIST',draft)
    this.playlistsService.updatePlaylist(draft).subscribe(resp => {
      this.playlistsService.loadMyPlaylists();
      this.$router.replace({
        name: "PlaylistDetails",
        params: { id: this.$route.params.id }
      });
    });
  }
}
</script>