<template>
  <input type="text" v-model="value" />
</template>


<script lang="ts">
import { Component, Vue, Provide, Inject, Prop } from "vue-property-decorator";
import FormGroup from './FormGroup.vue';

@Component({})
export default class FormField extends Vue {
  @Inject()
  formGroup!: FormGroup;

  value = '';

  @Prop({ required: true })
  name!: string;

  mounted() {
    this.formGroup.registerField(this.name, this);
  }

  beforeDestroy() {
    this.formGroup.unregisterField(this.name, this);
  }
}
</script>