<template>
  <form @submit.prevent="handleSubmit">
    <slot></slot>
  </form>
</template>

<script lang="ts">
import { Component, Vue, Provide, Inject } from "vue-property-decorator";
import FormField from "./FormField.vue";

@Component({})
export default class FormGroup extends Vue {
  @Provide()
  formGroup = this;

  @Inject({ from: "formGroup", default: null })
  parentFormGroup!: FormGroup | null;

  formControls: { [k: string]: FormField } = {};

  registerField(name: string, field: FormField) {
    this.formControls[name] = field;
  }
  unregisterField(name: string, field: FormField) {
    delete this.formControls[name];
  }

  handleSubmit() {
    let data: any = {};
    for (let fieldName in this.formControls) {
      let field = this.formControls[fieldName];
      data[fieldName] = field.value;
    }
    this.$emit("submit", data);
  }
}
</script>