<template>
  <div>
    <div v-if="playlist">
      <PlaylistDetails :playlist="playlist" @edit="edit" />
    </div>
    <div v-else>Loading ...</div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Inject, Watch } from "vue-property-decorator";
import { Routes } from "../router/index";
import { PlaylistsService } from "../services/PlaylistsService";
import { map, switchMap, distinctUntilChanged, tap } from "rxjs/operators";
import PlaylistDetails from "../components/playlists/PlaylistDetails.vue";
@Component({
  components: {
    PlaylistDetails
  },
  subscriptions(this: PlaylistDetailsContainer) {
    return {
      playlist: this.$watchAsObservable("$route.params", {
        immediate: true
      }).pipe(
        tap(console.log),
        map(({ newValue: { id } }) => id),
        distinctUntilChanged(),
        switchMap(id => this.playlistsService.getPlaylistById(id)),
        map(resp => resp.data)
      )
    };
  }
})
export default class PlaylistDetailsContainer extends Vue {
  @Inject("PlaylistsService")
  playlistsService!: PlaylistsService;

  edit() {
    this.$router.push({
      name: Routes.EditPlaylist,
      params: { id: this.$route.params.id }
    });
  }
}
</script>
