<template>
  <div>
    <PlaylistList :playlists="playlists" :selected="selectedId" />

    <button @click="createNew">Create New Playlist</button>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Provide, Inject, Watch } from "vue-property-decorator";
import { PlaylistsService } from "../services/PlaylistsService";
import PlaylistList from "../components/playlists/PlaylistsList.vue";

@Component({
  components: {
    PlaylistList
  },
  subscriptions(this: PlaylistsContainer) {
    return {
      playlists: this.playlistsService.playlists$
    };
  }
})
export default class PlaylistsContainer extends Vue {
  @Inject("PlaylistsService")
  playlistsService!: PlaylistsService;

  selectedId: number | null = null;

  @Watch("$route.params", { immediate: true })
  paramsChange(params: { id: number }) {
    this.selectedId = params.id;
  }

  createNew() {
    this.$router.push({ name: "CreatePlaylist" });
  }

  mounted() {
    // this.params = this.$route.params;
  }
}
</script>