<template>
  <div>
    <slot
      :user="user"
      :auth="auth"
      :login="login"
      :logout="logout"
    >{{ user && user.display_name }}</slot>
  </div>
</template>


<script lang="ts">
import { Component, Vue, InjectReactive, Inject } from "vue-property-decorator";
import { userToken } from "../tokens";
import { Auth } from "../services/Auth.service";

@Component({})
export default class UserProfile extends Vue {
  @Inject()
  auth!: Auth;

  @InjectReactive(userToken)
  user!: UserProfile | null;

  login = () => {
    this.auth.authorize()
  }

  logout = () => {
    this.auth.logout()
  }
}
</script>