<template>
  <div>
    <div class="row" v-if="album">
      <div class="col">
        <AlbumCard :album="album" />
      </div>
      <div class="col">
        <div class="card mb-1">
          <div class="card-body">
            <p>{{selected && selected.name}}</p>
            <audio
              controls="true"
              class="w-100"
              ref="playerRef"
              :src="selected && selected.preview_url"
            />
          </div>
        </div>

        <div class="list-group">
          <div
            class="list-group-item"
            v-for="track of album.tracks.items"
            :key="track.id"
            :class="{ active: selectedId == track.id }"
            @click=" select(track) "
          >
            <span>{{track.name}}</span>
            <span class="float-right">{{track.duration_ms | duration }}</span>
          </div>
        </div>
      </div>
    </div>
    <p class="alert alert-info" v-else>Loading</p>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Inject, Ref } from "vue-property-decorator";
import { MusicService } from "../services/MusicService";
import { Album, Track } from "../model/Search";
import AlbumCard from "../components/albums/AlbumCard.vue";
@Component({
  components: {
    AlbumCard
  },
  filters: {
    duration(duration: number) {
      const d = new Date(duration);
      const s = ("0" + d.getUTCSeconds()).slice(-2);
      const m = ("0" + d.getUTCMinutes()).slice(-2);
      const h = ("0" + d.getUTCHours()).slice(-2);
      return `${h}:${m}:${s}`;
    }
  },
  subscriptions(this:AlbumDetails) {
    return {
      album: this.musicService.getAlbumById(this.$route.params.album_id)
    };
  },
  
})
export default class AlbumDetails extends Vue {
  album: Album | null = null;
  selectedId: Track["id"] | null = null;

  @Inject("MusicService")
  musicService!: MusicService;

  get selected() {
    return this.album?.tracks?.items.find(t => t.id == this.selectedId);
  }

  @Ref("playerRef")
  playerRef?: HTMLAudioElement;

  select(track: Track) {
    this.selectedId = track.id;
    this.$nextTick(() => {
      this.playerRef?.play();
    });
  }

  created() {
    // this.musicService
    //   .getAlbumById(this.$route.params.album_id)
    //   .subscribe(album => {
    //     this.album = album;

    //     this.$nextTick(() => {
    //       if (this.playerRef) {
    //         this.playerRef.volume = 0.2;
    //       }
    //     });
    //   });
  }
}
</script>