<template>
  <div class="row">
    <div class="col">
      <router-view></router-view>
    </div>
    <div class="col">
      <router-view name="details"></router-view>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Inject } from "vue-property-decorator";
import { PlaylistsService } from '../services/PlaylistsService';

@Component({})
export default class PlaylistsNested extends Vue {
  @Inject("PlaylistsService")
  playlistsService!: PlaylistsService;

  mounted() {
    this.playlistsService.loadMyPlaylists()
  }
}
</script>