<template>
  <div>
    <h3>Playlists</h3>

    <div class="row">
      <div class="col">
        <PlaylistList :playlists="playlists" :selected.sync="selectedId" />
      </div>
      <div class="col">
        
        <template v-if="selected">
          <template v-if="mode == 'show'">
            <PlaylistDetails :playlist="selected" @edit="edit"></PlaylistDetails>
          </template>

          <template v-else>
            <PlaylistForm :playlist="selected" @cancel="cancel" @save="save($event)"></PlaylistForm>
          </template>
        </template>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  Component,
  Vue,
  Watch,
  Inject,
  InjectReactive
} from "vue-property-decorator";
import PlaylistList from "../components/playlists/PlaylistsList.vue";
import PlaylistDetails from "../components/playlists/PlaylistDetails.vue";
import PlaylistForm from "../components/playlists/PlaylistForm.vue";
import { Playlist } from "../model/Playlist";
import { UserProfile } from "../model/UserProfile";
import { userToken } from "../tokens";
import { PlaylistsService } from '../services/PlaylistsService';

// type Modes = 'show' | 'edit' | 'preview'
enum Modes {
  show = "show",
  edit = "edit"
}

@Component({
  components: {
    PlaylistList,
    PlaylistDetails,
    PlaylistForm
  }
  // inject:['user']
})
export default class Playlists extends Vue {
  @InjectReactive(userToken)
  user!: UserProfile;

  @Inject("PlaylistsService")
  playlistsService!: PlaylistsService;

  edit() {
    this.mode = Modes.edit;
  }
  cancel() {
    this.mode = Modes.show;
  }
  save(draft: Playlist) {
    const index = this.playlists.findIndex(p => p.id == draft.id);
    this.playlists.splice(index, 1, draft);
  }

  mode: Modes = Modes.show;
  playlists: Playlist[] = [];
  selectedId = 234;
  query = "";

  // computed
  get selected() {
    return this.playlists.find(p => p.id == this.selectedId);
  }

  select($event: Playlist) {
    this.selectedId = $event.id;
  }
}
</script>

