<template>
  <div>
    <!-- .row*2>.col -->
    <div class="row">
      <div class="col">
        <SearchForm @search="searchAlbums($event)" v-model="query" placeholder="Search albums" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="alert alert-danger" v-if="message">{{message}}</div>
        <SearchResults :results="results">
          <template #default="{result, index}">
            <router-link
              :to="{
                name:'AlbumDetails',
                params:{
                  album_id:result.id
                }}"
            >
              <AlbumCard :album="result" :data-index="index" />
            </router-link>
          </template>
        </SearchResults>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Inject, Watch } from "vue-property-decorator";
import SearchForm from "../components/search/SearchForm.vue";
import SearchResults from "../components/search/SearchResults.vue";
import { Album, AlbumsSearchResult } from "../model/Search";
import { Observable, Subscription, Subject } from "rxjs";
import { map, tap, takeUntil } from "rxjs/operators";
import { auth } from "../services";
import { HttpResponse } from "vue-resource/types/vue_resource";
import { MusicService } from "../services/MusicService";
import AlbumCard from "../components/albums/AlbumCard.vue";
import { Route, NavigationGuardNext } from "vue-router";

@Component({
  components: {
    SearchForm,
    SearchResults,
    AlbumCard
  },
  subscriptions(this: Search) {
    return {
      results: this.musicService.resultsChange,
      query: this.musicService.queryChange
    };
  },
  beforeRouteEnter(this: null, to, from, next) {
    // allow acces
    // next();
    // Redirect
    // next({name:'AccessDeniedRoute'})
    next((instance: Search) => {
      const { query } = to.query;
      if (typeof query === "string") {
        instance.musicService.searchAlbums(query);
      }
    });
  },
  beforeRouteLeave(this: Search, to, from, next) {
    // Prevent leave when ie. form is not saved
    // next(false);
    next();
  },
  beforeRouteUpdate(this: Search, to, from, next) {
    const { query } = to.query;
    if (typeof query === "string") {
      this.musicService.searchAlbums(query);
    }
    next();
  }
})
export default class Search extends Vue {
  results: Album[] = mockData as Album[];
  message = "";
  query = "batman";

  @Inject("MusicService")
  musicService!: MusicService;

  searchAlbums(q = "batman") {
    this.$router.push({
      query: { query: q }
    });
  }
}

export const mockData: Pick<Album, "id" | "name" | "images">[] = [
  {
    id: "123",
    name: "Test",
    images: [
      {
        height: 300,
        width: 300,
        url: "https://www.placecage.com/c/400/400"
      }
    ]
  },
  {
    id: "234",
    name: "Test 234",
    images: [
      {
        height: 300,
        width: 300,
        url: "https://www.placecage.com/c/400/400"
      }
    ]
  },
  {
    id: "345",
    name: "Test 345",
    images: [
      {
        height: 300,
        width: 300,
        url: "https://www.placecage.com/c/400/400"
      }
    ]
  }
];
</script>
