<template>
  <div>
    <FormGroup :initialValue="data" 
                @change="handleChange" @submit="handleSubmit">
      <div class="form-group">
        <label>Name:</label>
        <FormField type="text" class="form-control" name="name" placeholder="Name"></FormField>
      </div>

      <div class="form-group">
        <label>
          <FormField type="checkbox"  name="public"></FormField> Public
        </label>
      </div>

      <FormGroup name="subform">
        <FormField as="textarea" class="form-control" name="extra"/>
      </FormGroup>

      <button type="submit">Save</button>
    </FormGroup>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import FormGroup from "../containers/FormGroup.vue";
import FormField from "../containers/FormField.vue";

@Component({
  components: {
    FormGroup,
    FormField
  }
})
export default class TestForms extends Vue {
  data = {};

  handleChange(...args: any[]) {
    console.log(args);
  }
  handleSubmit(...args: any[]) {
    console.log(args);
  }
}
</script>