<template>
  <div class="input-group mb-3">
    <!-- :placeholder="$attrs.placeholder || 'Search'" -->
    <!-- v-bind="{placeholder: $attrs.placeholder}" -->
    <!-- v-on:input="$listeners.input" -->
    <!-- v-model="query" -->
    <!-- @input=" queryChanges.next($event.target.value)" -->
    <input
      type="text"
      class="form-control"
      v-bind="$attrs"
      v-on="$listeners"
      v-stream:input="queryChanges"
      :value="modelValue"
      @keydown.enter.exact="emitSearch()"
      @keydown.shift.alt.enter="emitSearch()"
    />

    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" @click="emitSearch()">Search</button>
    </div>
  </div>
</template>


<script lang="ts">
import { Component, Vue, Emit, Prop, Model } from "vue-property-decorator";
import { Subject } from "rxjs";
import {
  filter,
  distinct,
  distinctUntilChanged,
  distinctUntilKeyChanged,
  debounceTime,
  tap,
  map
} from "rxjs/operators";

@Component({
  inheritAttrs: false,
  // Create subjects
  domStreams: ["queryChanges"],
  subscriptions(this: SearchForm) {
    return {};
  }
})
export default class SearchForm extends Vue {
  query = "";

  @Model("modelInput", { type: String })
  modelValue!: string;

  queryChanges!: Subject<any>; // = new Subject<any>();

  created() {
    const inputChanges = this.queryChanges.pipe(
      // tap(console.log),
      map(event => event.event.target!.value)
    );

    this.$subscribeTo(inputChanges, query =>
      this.$emit("modelInput", query)
    );
    this.$subscribeTo(
      inputChanges.pipe(
        debounceTime(400),
        filter(query => query.length >= 3),
        distinctUntilChanged()
      ),
      q => this.$emit("search", q)
    );
  }

  @Emit("search")
  emitSearch() {
    return this.modelValue;
  }
}
</script>