<template>
  <div class="row row-cols-1 row-cols-md-4">
    <div class="col mb-4" v-for="(result,i) in results" :key="result.id">
      <!-- <AlbumCard :album="result" /> -->
      <slot :result="result" :index="i"></slot>
    </div>
  </div>
</template>


<script lang="ts">
import path from "../../assets/logo.png";
import { Component, Vue, Prop } from "vue-property-decorator";
import { Album } from "../../model/Search";
import AlbumCard from "../albums/AlbumCard.vue";

// https://cli.vuejs.org/guide/html-and-static-assets.html#static-assets-handling
// console.log(path);
@Component({
  components: {
    AlbumCard
  }
})
export default class SearchResults extends Vue {

  @Prop({ required: true })
  results!: Album[];

  
  // mounted(){
  //   this.$slots; // rendered parent VNodes
  //   this.$scopedSlots; // function rendering VNodes with local data
  //   debugger
  // }
}
</script>